header {
    background-color: #363636;
    height: 70px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
    padding-top: .5px;
}

main {
    // background-color: yellowgreen;
    height: 450px;
    form{
        height: 20%;
        text-align: center;
        padding-top: 20px;
    #urlInput{
        background-color: rgb(231, 248, 243);
    }
    .labels{
        padding-left: 20px;
    }
    }
    div{
        background-color: rgb(230, 228, 228);
        height: 300px;
        border: 1px solid gray;
        margin: 1%;

        span{
            padding-left: 25px;
        }
    }
}

footer{
    background-color: #5c5c5c;
    height: 70px;
    padding-left: 20px;
}